<span class="size">  <img src="assets/img/pawlogo-login.png"> Owners </span>
<br><br>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <td>Name</td>
      <td>Surname</td>
      <td>Address</td>
      <td>Descriptions</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let owner of owners">
      <td>{{owner.firstname}}</td>
      <td>{{owner.lastname}}</td>
      <td>{{owner.address.street}}, {{owner.address.city}}, {{owner.address.country}}</td>
      <td>
        <button class="btn btn-default" (click)="onOwnerClicked(owner)">Info</button>
      </td>
    </tr>
  </tbody>
</table>

<app-owner-details [owner]="selectedOwner"></app-owner-details>
<button routerLink="/createowner">Create owner</button>
