<h1>Register</h1>
<br>
<div class="container">
  <form [formGroup]="myform">

    <div class="form-group row">
      <label for="firstName" class="col-sm-2 col-form-label" required>First Name:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control"
               id="firstName" name="firstName" formControlName="firstName" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="lastName" class="col-sm-2 col-form-label" required>Last Name:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control"
               id="lastName" name="lastName" formControlName="lastName" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label" required>Email:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control"
               id="email" name="email" formControlName="email" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="password" class="col-sm-2 col-form-label" required>Password:</label>
      <div class="col-sm-6">
        <input type="password" class="form-control"
               id="password" name="password" formControlName="password" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="city" class="col-sm-2 col-form-label" required>City:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control"
               id="city" name="city" formControlName="city" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="street" class="col-sm-2 col-form-label" required>Street:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control"
               id="street" name="street" formControlName="street" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="country" class="col-sm-2 col-form-label" required>Country:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control"
               id="country" name="country" formControlName="country" required>
      </div>
    </div>
    <br>
    <div>
      <div>
        <button type="button" class="btn btn-primary btn-lg" [disabled]="!myform.valid" (click)="sendForm()">Register
        </button>
      </div>
    </div>

  </form>
</div>
